html {
    /*root element*/
    font-size: 19px;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--bg-navbar-footer);
    color: var(--main-bg-color);
    image-rendering: pixelated;

}

.navbar li {
    /*nav bar iteam*/
    color: var(--main-bg-color);
    list-style: none;
    margin: 10px 20px;
    font-family: 'Righteous', cursive;
    font-size: 17px;
    display: flexbox;
    /* position: absolute; */
    justify-content: center;

}

.navbar li a {
    /*anchor*/
    text-decoration: none;
    color: var(--main-bg-color);
}

.navbar li a:hover {
    /*nav bar list*/
    color: var(--hover-color);
    text-decoration: underline;

}

.navigation {
    /*nav bar*/
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-content);
}
a{
    color: var(--bg-link);
}
h1 {

    margin-top: 75px;
    text-align: center;
    font-size: 2.5rem;
    left: 1rem;
    bottom: 1rem;
    animation-iteration-count: infinite;
    animation-name: floatingh1;
    animation-duration: 2s;
}
.blog-list{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    padding: 0 .5rem;
  }
section img {
    display: block;
    margin: 0 auto;
}

section p {
    /*paragraph*/
    font-size: larger;
    font-stretch: 100%;
    font-weight: 400;
    font-style: normal;
}

section {
    border: var(--bg-content) solid;
    background-color: var(--bg-content);
    width: 70%;
}

.footer {
    position: relative;
    text-align: center;
    
}

@keyframes floatingh1 {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-5px);
    }

}

@media screen and (max-width:700px) {


    h1 {
        /* CSS rules for devices with a max-width of 900px or less go 701px */
        display: block;
        font-size: 1.5rem;
        /* background-color: rgb(255, 4, 4); */
    }
    section{
        padding-left: 0;
        padding-right: 0;
        width: 98%;
    }
    section img {
        height: 119px;
    }
    .navbar li{
        padding: 0;
        margin: 0;
    }
    .navbar a{
        margin: 10px;
    }
    .navigation {
        flex-wrap: wrap;
    }
    
}

@media (min-width:701px)and (max-width:900px) {
    h1 {
        /* CSS rules for devices with a max-width of 900px or less go 701px */
        display: block;
        /* background-color: rgb(177, 245, 20); */
    }
    section{
        padding-left: 0;
        padding-right: 0;
        width: 90%;
    }
    section img {
        height: 173px;
    }

}

@media (min-width:901px) {
    h1 {
        /* CSS rules for devices with a min-width of 901px */
        display: block;
    }
    section{
        /* background-color: rgb(214, 13, 90); */
        padding-left: 0;
        padding-right: 0;
        width: 85%;

    }
}

