html {
    padding: 0px;
    margin: 0px;
    font-size: 19px;
}

body {
    background-image: url('/asserts/pic/in\ night\ moutain\ .jpg');
    color: var(--main-bg-color);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    image-rendering: pixelated;

}

.navbar li {
    /*nav bar iteam*/
    color: var(--main-bg-color);
    list-style: none;
    margin: 10px 20px;
    font-family: 'Righteous', cursive;
    font-size: 17px;
    display: flexbox;
    /* position: absolute; */
    justify-content: center;

}

.navbar li a {
    /*anchor*/
    text-decoration: none;
    color: var(--main-bg-color);
}

.navbar li a:hover {
    /*nav bar list*/
    color: var(--hover-color);
    text-decoration: underline;

}

.navigation {
    /*nav bar*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 91px;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--bg-content); */
}
a{
    color: var(--bg-link);
}
h1 {

  
    text-align: center;
    font-size: 2.5rem;
    left: 1rem;
    bottom: 1rem;
    animation-iteration-count: infinite;
    animation-name: floatingh1;
    animation-duration: 2s;
    padding-right: 83px;
}
.wrapper {
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header::before{
    /* background-image: url('/asserts/pic/in\ night\ moutain\ .jpg'); */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.6;
}
.blog-list{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    padding: 0 .5rem;
  }
section img {
    display: block;
    margin: 0 auto;
}

section p {
    /*paragraph*/
    font-size: larger;
    font-stretch: 100%;
    font-weight: 400;
    font-style: normal;
}

section {
    /* border: var(--bg-content) solid; */
    /* background-color: var(--bg-content); */
    width: 70%;
}

.footer {
    position: relative;
    text-align: center;

    
}
.chat {
    /* width: 250px; */
  /* height: 300px; */
  border-radius: 10px;
  border: solid aliceblue;
}
section {
    padding: 10px;
    margin-left: 30px;
    margin-right: 10px;
}


@keyframes floatingh1 {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-5px);
    }

}

@media screen and (max-width:700px) {


    h1 {
        /* CSS rules for devices with a max-width of 900px or less go 701px */
        display: block;
        font-size: 1.5rem;
        /* background-color: rgb(255, 4, 4); */
    }
    section{
        padding-left: 0;
        padding-right: 0;
        width: 95%;
    }
    section img {
        height: 119px;
    }
    .navbar li{
        padding: 0;
        margin: 0;
    }
    .navbar a{
        margin: 10px;
    }
    .navigation {
        flex-wrap: wrap;
    }
    .content{
        flex-direction: column;
    }
    
}

@media (min-width:701px)and (max-width:900px) {
    h1 {
        /* CSS rules for devices with a max-width of 900px or less go 701px */
        display: block;
        /* background-color: rgb(177, 245, 20); */
    }
    section{
        padding-left: 0;
        padding-right: 0;
        width: 80%;
    }
    section img {
        height: 173px;
    }
    .content{
        flex-direction: column;
    }

}

@media (min-width:901px) {
    h1 {
        /* CSS rules for devices with a min-width of 901px */
        display: block;
    }
    section{
        /* background-color: rgb(214, 13, 90); */
        padding-left: 0;
        padding-right: 0;
        width: 50%;

    }

}

