html {
    /*root element*/
    font-size: 19px;
}

body {
    padding: 0px;
    margin: 0px;
    background: black;
    color: var(--main-bg-color);
    image-rendering: pixelated;
    /* cursor: url('/asserts/pic/bllue-cursor1.png'), default; */
}

.navbar li {
    /*nav bar iteam*/
    color: var(--main-bg-color);
    /* color: aliceblue; */
    list-style: none;
    margin: 10px 20px;
    font-family: 'Righteous', cursive;
    font-size: 17px;
    display: flexbox;
    /* position: absolute; */
    justify-content: center;

}

.navbar li a {
    /*anchor*/
    text-decoration: none;
    color: var(--main-bg-color);
}

.navbar li a:hover {
    /*nav bar list*/
    color: var(--hover-color);
    text-decoration: underline;
    cursor: url('/asserts/pic/pointer.png'), pointer;
    /* background-color: rgb(55, 53, 53); */
    /* position: relative; */
    /* border: 2px solid; */
    /* border-radius: 5px; */
    /* padding: 10px; */
}

.navigation {
    /*nav bar*/
    display: flex;
    position: absolute;
    margin-top: -80px;
}

h1 {
    /*headining*/
    /* position: absolute; */
    /* justify-content: center; */
    /* font-family: 'Pacifico', cursive; */
    text-align: center;
    font-size: 2.5rem;
    left: 1rem;
    bottom: 1rem;
    animation-iteration-count: infinite;
    animation-name: floatingh1;
    animation-duration: 2s;
}

section img {
    display: block;
    margin: 0 auto;
}

section p {
    /*paragraph*/

    text-align: center;
    margin: 10px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: ; */
    font-size: 18px;
    font-stretch: 100%;
    font-weight: 400;
    font-style: normal;
}

section {
    /* border: red solid; */
    margin: 98px 98px;
}

section hr {
    color: var(--main-bg-color);
}

header::before {
    /*Pesudo selector*/
    background: url('/asserts/pic/moutain.jpg');
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1120px;
    background-repeat: repeat;
    z-index: -1;
    opacity: 0.5;

}

@keyframes floatingh1 {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-5px);
    }

}

footer {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 40px;
    left: 0px;
    bottom: -478px;
    background-color: #001e32;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.content {
    margin: 60px;
}


@media screen and (max-width:700px) {

    .navbar li {

        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* background-color: aqua; */

    }

    .navigation {
        width: 100%;
        margin-left: -100px;
    }

    h1 {
 
        text-align: center;
        justify-content: center;
        font-size: 1.3rem;
        width: 185px;
    }

    section {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 100px 100px;
    }

    section img {

        height: 100px;
        display: block;
        margin: 7px;

    }

    section p {
        flex-direction: row;
        font-size: 1rem;
        /* background-color: aqua; */
        width: 250px;

    }
    footer{
        bottom: -556px;
        width: 100%;
        color: white;
        text-align: center;
        padding: -2px 0;

    }
}

@media (min-width:701px)and (max-width:900px) {
    h1 {
        /* CSS rules for devices with a max-width of 900px or less go 701px */
        display: block;
        /* background-color: rgb(177, 245, 20); */
    }
}

@media (min-width:901px) {
    h1 {
        /* CSS rules for devices with a min-width of 901px */
        display: block;
        /* background-color: rgb(214, 13, 90); */
    }
}

